@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --titulo-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


body.dark-theme{
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --titulo-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

.nav__btns{
	display: flex;
	align-items: center;
}

.change-theme{
	font-size: 1.2rem;
	color: var(--titulo-color);
	margin-right: var(--mb-1);
	cursor: pointer;
}

.change-theme:hover{
	color: var(--first-color);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--titulo-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.section{
	padding: 2rem 0 4rem;
}
.section__titulo{
	font-size: var(--h1-font-size);
}
.desp{
		margin-bottom: 35px;
}

.section__subtitulo{
	display: block;
	font-size: var(--small-font-size);
	margin-bottom: var(--mb-3);
}
.section__titulo,
.section__subtitulo{
	text-align: center;
}
.container{
	max-width: 768px;
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}
.grid{
	display: grid;
	gap: 1.5rem;
}
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
.nav{
	max-width: 968px;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo,
.nav__toggle{
	color: var(--titulo-color);
	font-weight: var(--font-medium);
}
.nav__logo:hover{
	color: var(--first-color);
}
.nav__toggle{
	font-size: 1.1rem;
	cursor: pointer;
}
.nav__toggle:hover{
	color: var(--first-color);
}
@media screen and (max-width: 767px){
	.nav__menu{
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		background-color: var(--body-color);
		padding: 2rem 1.5rem 4rem;
		box-shadow: 0 -1px	4px rgba(0, 0, 0, 15);
		border-radius: 1.5rem 1.5rem 0 0;
		transition: .3s;
	}
} 
.nav__list{
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}
.nav__link{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--small-font-size);
  	color: var(--titulo-color);
	font-weight: var(--font-medium);
}

.nav__link:hover{
	color: var(--first-color);
}
.nav__icon{
	font-size: 1.2rem;
}
.nav__close{
	position: absolute;
	right: 1.3rem;
	bottom: .5rem;
	font-size: 1.5rem;
	cursor: pointer;
	color: var(--first-color);
}
.nav__close:hover{
	color: var(--first-color-alt);
}
.show-menu{
	bottom: 0;
}


.active-link{
	color: var(--first-color);
}


.scroll-header{
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 15);
}
.inicio__container{
	gap: 1rem;
}
.inicio__content{
	grid-template-columns: .5rem 3fr;
	padding-top: 3.5rem;
	align-items: center;
}
.inicio__social{
	display: grid;
	grid-template-columns: max-content;
	row-gap: 1rem;
}
.inicio__social-icon{
	font-size: 1.5rem;
	color: var(--first-color);
}
.inicio__social-icon:hover{
	color: var(--first-color-alt);
}
.inicio__blob{
	width: 200px;
	fill: var(--first-color);
}
.inicio__img{
	justify-self: center;
}
.inicio__blob-img{
	width: 210px;
}
.inicio__data{
	grid-column: 1/3;
}
	font-size: var(--h3-font-size);
	color: var(--text-color);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-0-75);
}
.inicio__description{
	margin-bottom: var(--mb-2);
}
.inicio__scroll{
	display: none;
}
.inicio__scroll-button{
	color: var(--first-color);
	transition: .3s;
}
.inicio__scroll-button:hover{
	transform: translate(.25rem);
}
.inicio__scroll-mouse{
	font-size: 2rem;
}
.inicio__scroll-name{
	font-size: var(--small-font-size);
	color: var(--text-color);
	font-weight: var(--font-medium);
	margin-right: var(--mb-0-25);
}
.inicio__scroll-arrow{
	font-size: 1.25rem;
}

.button{
	display: inline-block;
	background-color: var(--first-color);
	color: #fff;
	padding: 1rem;
	border-radius: .5rem;
	font-weight: var(--font-medium);
}
.button:hover{
	background-color: var(--first-color-alt);
}
.button-icon{
	font-size: 1.25rem;
	margin-left: var(--mb-0-5);
	transition: .3s;
}
.button--flex{
	display: inline-flex;
	align-items: center;
}
.perfil__img{
	width: 300px;
	border-radius: .5rem;
	justify-self: center;
	align-self: center;
}
.perfil__description{
	text-align: center;
	margin-bottom: var(--mb-2-5);
}
.perfil__info{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: var(--mb-2-5);
}
.perfil__info-titulo{
	font-size: var(--h2-font-size);
	font-weight: var(--font-semi-bold);
  	color: var(--titulo-color);
}
.perfil__info-name{
	font-size: var(--small-font-size);
}
.perfil__info-titulo,
.perfil__info-name{
	display: block;
	text-align: center;
}
.perfil__buttons{
	display: flex;
	justify-content: center;
}

.habilidades__container{
	row-gap: 0;
}.habilidades__header{
	display: flex;
	align-items: center;
	margin-bottom: var(--mb-2-5);
	cursor: pointer;
}
.habilidades__icon,
.habilidades__arrow{
	font-size: 2rem;
	color: var(--first-color);
}
	margin-right: var(--mb-0-75);
}
.habilidades__titulo{
	font-size: var(--h3-font-size);
}
.habilidades__subtitulo{
	font-size: var(--small-font-size);
	color: var(--text-color-light);
}
.habilidades__arrow{
	margin-left: auto;
	transition: .4s;
}
.habilidades__titulos{
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--mb-0-5);
}
.habilidades__name{
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
}
.habilidades__bar,
.habilidades__percentage{
	height: 5px;
	border-radius: .25rem;
}
.habilidades__bar{
	background-color: var(--first-color-lighter);
}
.habilidades__percentage{
	display: block;
	background-color: var(--first-color);
}
.habilidades__html{
	width: 90%;
}
.habilidades__css{
	width: 80%;
}
.habilidades__js{
	width: 30%;
}

.portfolio__container{
	overflow: initial;
}
.portfolio__content{
	padding: 0 1.5rem;
}
.portfolio__img{
	width: 265px;
	border-radius: .5rem;
	justify-self: center;
}
.portfolio__titulo{
	font-size: var(--h3-font-size);
	margin-bottom: var(--mb-0-5);
}
.portfolio__description{
	margin-bottom: var(--mb-0-75);
}
.portfolio__button:hover .button__icon{
	transform: translateX(.25rem);
}
.swiper-button-prev::after,
.swiper-button-next::after{
	font-size: 2rem;
	color: var(--first-color);
}
.swiper-button-prev{
	left: -.5rem;
}
.swiper-button-next{
	right: -.5rem;
}
.swiper-container-horizontal > .swiper-pagination-bullet{
	bottom: -2.5rem;
}
.swiper-pagination-bullet-active{
	background-color: var(--first-color);
}
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet{
	outline: none;
}


.contacto__container{
	row-gap: 3rem;
}

.contacto__information{
	display: flex;
	margin-bottom: var(--mb-2);
}

.contacto_icon{
	font-size: 2rem;
	color: var(--first-color);
	margin-right: var(--mb-0-75);
}


.contacto__titulo{
	font-size: var(--h3-font-size);
	font-weight: var(--font-medium);
}


.contacto__subtitulo{
	font-size: var(--small-font-size);
	color: var(--text-color-light);
}

.contacto__content{
	background-color: var(--input-color);
	border-radius: .5rem;
	padding: .75rem 1rem .25rem;
}

.contacto__label{
	font-size: var(--smaller-font-size);
	color: var(--titulo-color);
}

.contacto__input{
	width: 100%;
	background-color:hsl(var(--hue-color), 90%, 89%, 0.2);
	color: var(--text-color);
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	border: none;
	border-radius: 10px;
	outline: none;
	padding: .25rem .5rem .5rem 0;
}


.footer{
	padding-top: 2rem;
}

.footer__container{
	row-gap: 3.5rem;
}

.footer__bg{
	background-color: var(--first-color-second);
	padding: 2rem 0 3rem;
}

.footer__titulo{
	font-size: var(--h1-font-size);
	margin-bottom: var(--mb-0-25);
}

.footer__subtitulo{
	font-size: var(--small-font-size);
	color: #fff;
}

.footer__links{
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
}

.footer__link:hover{
	color: var(--first-color-lighter);
}

.footer__social{
	font-size: 1.25rem;
	margin-right: var(--mb-1-5);
}

.footer__social:hover{
	color: var(--first-color-lighter);
}

.footer__copy{
	font-size: var(--smaller-font-size);
	text-align: center;
	color: var(--text-color-light);
	margin-top: var(--mb-3);
}

.footer__titulo,
.footer__Subtitulo,
.footer__link,
.footer__social{
	color: #fff;
}

.scrollup{
	position: fixed;
	right: 1rem;
	bottom: -20%;
	background-color: var(--first-color);
	opacity: .8;
	padding: 0 .3rem;
	border-radius: .4rem;
	z-index: var(--z-tooltip);
	transition: .4s;
}

.scrollup:hover{
	background-color: var(--first-color-alt);รง
}

.scrollup__icon{
	font-size: 1.5rem;
	color: #fff;
}

.show-scroll{
	bottom: 5rem;
}


::-webkit-scrollbar{
	width: .60rem;
	background-color: var(--scroll-bar-color);
	border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
	background-color: var(--scroll-thumb-color);
	border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
	background-color: var(--text-color-light);
}


/* media queries */

@media screen and (max-width: 350px){
	.container{
		margin-left: var(--mb-1);
		margin-right: var(--mb-1);
	}

	.nav__menu{
		padding: 2rem .25rem 4rem;
	}

	.nav__list{
		column-gap: 0;
	}

	.inicio__content{
		grid-template-columns: .25rem 3fr;
	}

	.inicio__blob{
		width: 180px;
	}

	.habilidades__titulo{
		font-size: var(--normal-font-size);
	}


}

@media screen and (min-width: 568px){
	.inicio__content{
		grid-template-columns: max-content 1fr 1fr;
	}

	.inicio__data{
		grid-column: initial;
	}

	.inicio__img{
		justify-self: center;
	}

	.perfil__container,
	.portfolio__content,
	.contacto__container,
	.footer__container{
		grid-template-columns: repeat(2, 1fr);
	}

	.habilidades__container{
		grid-template-columns: repeat(1, 1fr);
		margin-left: auto;
		margin-right: auto;
	}


}


@media screen and (min-width: 768px){
	.content{
		margin-left: auto;
		margin-right: auto;
	}

	body{
		margin: 0;
	}

	.section{
		padding: 6rem 0 2rem;
	}

	.section__subtitulo{
		margin-bottom: 4rem;
	}

	.header{
		top: 0;
		bottom: initial;
	}

	.header,
	.main,
	.footer__container{
		padding: 0 1rem;
	}
	.nav{
		height: calc(var(--header-height) + 1.5rem);
		column-gap: 1rem;
	}

	.nav__icon,
	.nav__close,
	.nav__toggle{
		display: none;
	}

	.nav__list{
		display: flex;
		column-gap: 2rem;
	}

	.nav__menu{
		margin-left: auto;
	}

	.change-theme{
		margin: 0;
	}

	.inicio__container{
		row-gap: 5rem;
	}
	.inicio__content{
		padding-top: 5.5rem;
		column-gap: 2rem;
	}

	.inicio__blob{
		width: 270px;
	}

	.inicio__scroll{
		display: block;
	}

	.inicio__scroll__button{
		margin-left: 3rem;
	}

	.perfil__container{
		column-gap: 5rem;
		margin-left: auto;
		margin-right: auto;
	}

	.perfil__img{
		width: 350px;
	}

	.perfil__description{
		text-align: initial;
	}

	.perfil__info{
		justify-content: space-between;
	}

	.perfil__buttons{
		justify-content: initial;
	}

	.portfolio__img{
		width: 320px;
	}

	.portfolio__content{
		align-items: center;

	}

	.footer__container{
		grid-template-columns: repeat(3, 1fr);
	}

	.footer__bg{
		padding: 3rem 0 3.5rem;
	}

	.footer__links{
		flex-direction: row;
		column-gap: 2rem;
	}

	.footer__social{
		justify-self: flex-end;
	}

	.footer__copye{
		margin-top: 4.5rem;
	}

}

@media screen and (min-width: 800px){
	.header,
	.main,
	.footer__container{
		padding: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.inicio__container{
		row-gap: 6rem;
		justify-content:center;
	}
	.inicio__blob{
		width: 320px;
	}

	.inicio__social{
		transform: translate(-6rem);
	}

	.nav__menu{
		margin-left: auto;
	}

	.portfolio__content{
		column-gap: 5rem;
	}

	.swiper-portfolio-icon{
		font-size: 3.5rem;
	}

	.swiper-button-prev{
		left: -3.5rem;
	}

	.swiper-button-next{
		right: -3.5rem;
	}

	.swiper-container-horizontal > .swiper-pagination-bullets{
		bottom: -4.5rem;
	}

	.contacto__container{
		margin-left: auto;
		margin-right: auto;
	}

	.contacto__form{
		width: 460px;
	}

	.contacto__input{
		grid-template-columns: repeat(2, 1fr);
	}

}
@media screen and (min-width: 900px){
	.header,
	.main,
	.footer__container{
		padding: 0;
	}

	.inicio__container{
		row-gap: 6.23rem;
		margin-left: auto;
		margin-right: auto;
	}

	.inicio__blob{
		width: 360px;
	}

	.inicio__social{
		transform: translate(-6rem);
	}

	.portfolio__content{
		column-gap: 7rem;
	}

	.swiper-portfolio-icon{
		font-size: 5.5rem;
	}

	.swiper-button-prev{
		left: -5.5rem;
	}

	.swiper-button-next{
		right: -5.5rem;
	}

	.swiper-container-horizontal > .swiper-pagination-bullets{
		bottom: -6.5rem;
	}

	.contacto__form{
		width: 560px;
	}

	.contacto__input{
		grid-template-columns: repeat(2, 1fr);
	}

	.footer__container{
		grid-template-columns: repeat(3, 1fr);
	}

	.footer__bg{
		padding: 3.25rem 0 3.75rem;
	}

	.footer__links{
		flex-direction: row;
		column-gap: 2.25rem;
	}

	.footer__social{
		justify-self: flex-end;
	}

	.footer__copye{
		margin-top: 4.7rem;
	}

	.inicio__container{
		row-gap: 8rem;
	}
}


@media screen and (min-width: 1050px){
	.header,
	.main,
	.footer__container{
		padding: 0;
	}

	.inicio__container{
		row-gap: 6.23rem;
		margin-left: auto;
		margin-right: auto;
	}

	.nav{
		margin-left: auto;
		margin-right: auto;
	}

	.inicio__blob{
		width: 360px;
	}

	.inicio__social{
		transform: translate(-6rem);
	}

	.portfolio__content{
		column-gap: 7rem;
	}

	.swiper-portfolio-icon{
		font-size: 5.5rem;
	}

	.swiper-button-prev{
		left: -5.5rem;
	}

	.swiper-button-next{
		right: -5.5rem;
	}

	.swiper-container-horizontal > .swiper-pagination-bullets{
		bottom: -6.5rem;
	}

	.contacto__form{
		width: 560px;
	}

	.contacto__input{
		grid-template-columns: repeat(2, 1fr);
	}

	.footer__container{
		grid-template-columns: repeat(3, 1fr);
	}

	.footer__bg{
		padding: 3.25rem 0 3.75rem;
	}

	.footer__links{
		flex-direction: row;
		column-gap: 2.25rem;
	}

	.footer__social{
		justify-self: flex-end;
	}

	.footer__copye{
		margin-top: 4.7rem;
	}

	.inicio__container{
		row-gap: 8rem;
	}
}